* {
    font-family: 'Nunito', sans-serif;
    outline: none;
    color: #2b2424;
    /* #74505C #CDC1C9 #9B6D58 #74505C */
}

body {
    overflow: hidden;
    transition: all .4s ease;
}

section {
    padding: 6.25rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Ubuntu', sans-serif;
}

.text-main {
    color: #DEAE8A;
}

.bg-main {
    background-color: #DEAE8A;
}

.sub {
    max-width: 31.25rem;
    margin: auto;
}


/* main */


/*  */


/* the fixed navbar styling */

.fixed-navbar {
    z-index: 100;
    transition: all .5s ease-in-out;
    padding: 8px 0;
}

.navbar-brand img {
    width: 15%;
}

.fixed-navbar .navbar-brand {
    font-size: 1.5rem;
    font-weight: 900;
    color: #000000;
}

.navdown {
    background-color: #2b2424;
    transition: all .5s ease-in-out;
    padding: 2px 0;
}

.navdown .navbar-brand {
    color: #ffffff;
}

.active-navbar {
    color: #DEAE8A !important;
    transition: .3s all ease;
}

.fixed-setting {
    position: fixed;
    top: 25%;
    left: 0;
    color: white;
    font-size: 24px;
    transition: all .5s ease-in-out;
}

.nav-links {
    color: #000000;
    transition: .2s ease-in-out;
}

.nav-links:hover {
    text-decoration: none;
    color: #ffffff;
}


/* navbar styling */


/* header styling */

.header {
    background: url(imgs/pexels-adrienn-1523528.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
}

.bg {
    width: 100%;
    height: 100%;
    background-color: rgba(141, 117, 117, 0.4);
}

.header h1 {
    font-size: 60px;
    line-height: 64.8px;
}

h1::after {
    content: "";
}

.home-h4 {
    font-size: 36px;
    /* animation: op 2s forwards ; */
    /* animation-direction: reverse; */
}

.header p {
    opacity: 1;
    font-size: 28px;
}

.home-btn:hover {
    background-color: #ffffff;
    color: #000000;
}

.home-btn {
    background-color: transparent;
    color: white;
    font-weight: 600;
    transition: .2s ease-in-out;
    letter-spacing: 1px;
}


/* about styling */

.about {
    background-image: url(imgs/Untitled-5.svg);
    background-repeat: no-repeat;
}

.icon {
    height: 2.5rem;
    width: 2.5rem;
    border: 1px #d6d6d6 solid;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.icon i {
    font-size: 1.125rem;
    color: #000000;
    text-decoration: none;
    transition: .3s ease-in-out;
}

.icon:hover {
    border: 1px #DEAE8A solid;
}

.icon:hover i {
    color: #DEAE8A;
}


/* about */


/* mid-section styling */

.mid {
    background: url(imgs/Handmade_whte_paper_texture.jpg);
}

.txr {
    background-color: #d4957080;
}

.mid h4,
.mid i,
.mid h3 {
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    color: #2b2424;
}


/* team styling */

.team {
    background-image: url(imgs/Untitled-4.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.team-item a {
    text-decoration: none;
}

.team-item span {
    cursor: pointer;
}

.brd {
    background-color: #ffffffa2;
}


/* teeammm */


/* products styling */

.product-list li {
    padding: 4px 0;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.product-list a {
    text-decoration: none;
    color: #000000;
    transition: .2s ease-in-out;
}

.product-img {
    transition: .4s ease-in-out;
}

.product-list a:hover {
    color: white;
    background-color: #DEAE8A;
}

.layer {
    background-color: rgba(36, 7, 7, 0.6);
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    opacity: 0;
    color: #ffffff;
    transition: .5s ease-in-out;
}

.layer-con {
    transform: translateY(150px);
    transition: .5s ease-in-out;
}

.layer:hover {
    opacity: 1;
}

.layer:hover .layer-con {
    transform: translateY(10px);
}

.product-item {
    cursor: pointer;
}

.product-item:hover .product-img {
    transform: scale(1.2);
}

.new {
    animation: op .4s forwards;
}

.c1 {
    color: #D49470;
    font-size: 1.4rem;
}

.c8 {
    color: #F4BB44;
    font-size: 1.4rem;
}

.c2 {
    color: #d47076;
}

.c3 {
    color: #170e07;
}

.c4 {
    color: #C70039;
}

.c5 {
    color: #722F37;
}

.c6 {
    color: #8A9A5B;
}

.c7 {
    color: #9F2B68;
}


/* product */


/* service styling */

.ser {
    background-image: url(imgs/n.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffff;
}

.line {
    background-color: #DEAE8A;
    height: 2px;
    margin: 4px 0;
    width: 40px;
    display: flex;
    transition: .5s ease;
}

.item:hover .line {
    width: 60px;
}

.item {
    border: #DEAE8A solid 1px;
    background-color: transparent;
}


/* ser */


/* contact styling */

.form input,
.form textarea {
    border: solid #d6d6d6 1px;
}

.form button {
    opacity: .9;
    transition: .2s ease-in-out;
}

.form button:hover {
    opacity: 1;
}

.ser i {
    font-size: 50px;
}


/* end */


/* footer styling */

.footer {
    padding: 3rem 0;
    background-color: #2b2424;
}

.f-icon {
    width: 42px;
    font-size: 16px;
    height: 42px;
    cursor: pointer;
    background-color: #D49470;
}

.f-icon a {
    color: #D49470;
    font-size: 18px;
}

.footer p {
    color: #6c757d;
}


/*  */


/* fixed up button */

.up {
    color: #2b2424;
    position: fixed;
    bottom: 2%;
    right: 2%;
    display: none;
}

.up i {
    color: #2b2424;
}


/* ============================= */


/* lightbox */

.lightbox {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100vh;
    z-index: 200;
    display: none;
    transition: all .2s ease-in-out;
}

.lightbox-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #2b2424de;
    width: 100%;
    height: 100vh;
    cursor: pointer;
    z-index: 400;
}

#next {
    cursor: pointer;
}

.lightbox-con i {
    position: absolute;
    font-size: 3.125rem;
    color: #8d8d8d;
    top: 50%;
    z-index: 4000;
}

#close {
    position: absolute;
    top: 5%;
    left: 5%;
    cursor: pointer;
    font-size: 2.5rem;
    transition: all .1s ease-in-out;
    color: #8d8d8d;
    z-index: 4000;
}

#close:hover {
    color: rgb(243, 240, 247);
}

.lightbox i {
    transition: all .1s ease-in-out;
}

.lightbox i:hover {
    color: rgb(243, 240, 247);
}

#next {
    right: 18%;
}

#pre {
    left: 18%;
    cursor: pointer;
}

.lightbox-img {
    background-color: #2b2424;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 12%;
    width: 55%;
    z-index: 500;
    box-shadow: #d6d6d6 0px 0px 20px;
}

.lightbox-img img {
    /* width: 800px;
    height: 550px; */
    width: 100%;
}


/* *************** */

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #DEAE8A;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100000;
}